* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "Dana";
    src: url("../fonts/Dana-Regular.ttf") format("truetype"),
        url("../fonts/Dana-Regular.woff") format("woff"),
        url("../fonts/Dana-Regular.woff2") format("woff2");
    font-display: swap;
}